body
{
	background: url(../img/fondo.jpg);
}

header
{
	background: white;
	text-align: center;
	width: 95%;
	margin: auto;
}

header nav ul 
{
	overflow: hidden;
	list-style: none;
	background: navy;
	height: 3em;
}

header nav ul li 
{
	border-right: solid white;
	float: left;
}
header nav ul li:first-child
{
	border-right: solid white;
}
header nav ul li:last-child
{
	border-left: solid white;
}

header nav ul li a 
{
	display: block;
	text-decoration: none;
	color: white;
	margin: 1em .5em;
}

header nav ul li a:hover
{
	color: red;
}

section
{
	background: url(../img/background.jpg);
	width: 95%;
	margin: auto;
	min-height: 600px;
	padding: 1em 0;
}