@import "normalize.styl"
@import "icon.styl"
@import "skeleton.styl"

verde_feo=#386C84
azul=#032b68


body
	background-image url("../img/fondo.jpg")
main 
	background-image url("../img/background.jpg")
.fondo
	background-repeat no-repeat
	background-size cover
	background-position center
.fondo2
	display block
	width 100%
	min-height 500px
.fondo_trasparente
	background-color rgba(black,.5)
.centrado_flex
	display flex
	justify-content space-around
	align-items center
/* <========== Seccionde encabezado ==========> */
.encabezado
	background white
	text-align center
	width 95%
	margin auto
	.encabezado__menu
		background-color azul
		.encabezado__menu__lista
			list-style none
			height 100%
			margin-bottom 0
			.encabezado__menu__lista--elementos
				margin-bottom 0
				height 100%
				width 184px
				border solid 1px white
			.menu__lista--items
				padding 2rem 0
				display block
				text-decoration none
				color white
				height 100%
				border-bottom solid 2px transparent
			.menu__lista--items:hover
				background-color rgba(black,.4)
				border-bottom solid 2px red
/* <========== Seccionde contedido ==========> */
.contendido
	width 95%
	margin auto
	min-height 500px
	.contendido__parrafo
		color white
.contenedor
	background-color white
	border solid 6px verde_feo
	bottom .5rem
	right .5rem
	.contenedor--login
		background-color azul
		text-align center
		font-size 1.5rem
		.contenedor--login a 
			color white
			text-decoration none
	.contenedor__lista
		list-style none
		.contenedor__lista__items
			margin-left 4rem
/* <========== Seccionde pie de pagina ==========> */
.pie-pagina
	background: -webkit-linear-gradient(left, rgba(azul,0.8) 10%, rgba(white, 0.2) 100%)
	width 95%
	margin auto
	padding .4rem 0
	display flex
	justify-content space-around
	align-items center
	.pie-pagina__domicilio
		color white
		width 20%
		text-align center
	.pie-pagina__enlaces--link
		color black
		text-decoration none
.icono 
	font-size 2em