@import "normalize.styl"
@import "icon.styl"
@import "skeleton.styl"
@import "nib"

verde_feo=#386C84
azul=#032b68
azulface=#3a5795
azultw=#5babe5
rojoggl=#db4437

body
	background-image url("../img/fondo.jpg")
main 
	background-image url("../img/background.jpg")
.fondo
	background-repeat no-repeat
	background-size cover
	background-position center
.fondo2
	display block
	width 100%
	min-height 500px
.fondo_trasparente
	background-color rgba(black,.3)
	padding-top 1em
.centrado_flex
	display flex
	justify-content space-around
	align-items center
.fondo_trasparente .two-thirds
	padding-left 1em
.icon-facebook2
	color azulface
	background-color white
	border-radius 8px
.icon-twitter2
	color azultw
	background-color white
	border-radius 8px
.icon-google-plus2
	color rojoggl
	background-color white
	border-radius 8px
.menu-movil--boton .boton__barra
	display none
	font-size 3rem
	padding 1rem
	background-color rgb(12,66,113)
	color white
	text-decoration none
	font-weight bold
	-webkit-box-sizing border-box
	box-sizing border-box
.menu-movil--boton span
	float right
	font-size 3rem
/* <========== Seccionde encabezado ==========> */
.encabezado
	background white
	text-align center
	width 95%
	margin auto
	.encabezado__menu
		background-color azul
		.encabezado__menu__lista
			list-style none
			height 100%
			margin-bottom 0
			.encabezado__menu__lista--elementos
				margin-bottom 0
				width 184px
				border solid 1px white
			.menu__lista--items
				padding 2rem 0
				display block
				text-decoration none
				color white
				height 100%
				border-bottom solid 2px transparent
			.menu__lista--items:hover
				background-color rgba(black,.4)
				border-bottom solid 2px red
/* <========== Seccionde contedido ==========> */
.contendido
	width 95%
	margin auto
	min-height 500px
	.contendido__parrafo
		color white
.contenedor
	background-color white
	border solid 6px verde_feo
	bottom .5rem
	right .5rem
	.contenedor--login
		background-color azul
		text-align center
		font-size 2rem
		.login
			color white
			text-decoration none
			&:hover
				background-color rgba(black,.4)
	.contenedor__lista
		list-style none
		.contenedor__lista__items
			margin-left 4rem
/* <========== Seccionde pie de pagina ==========> */
.pie-pagina
	background: linear-gradient(left, rgba(azul,0.8) 5%, rgba(white, 0.2) 100%)
	width 95%
	height 8rem
	margin auto
	padding .4rem 0
	.pie-pagina__domicilio
		color white
		width 30%
		text-align center
	.pie-pagina__enlaces--link
		width 10rem
		color black
		text-decoration none
		.icono
			font-size 3.5em
		.icon-link
			font-size 2rem
		p 
			display inline-block
/*<================ Diseño reponsivo medias ==============>*/

/* Diseño de mobiles */
@media (max-width: 400px)
	body
		font-size 16px
	.menu-movil--boton .boton__barra
		display block
	.container
		margin 0
		padding 0
	.encabezado
		width 100vw
		.encabezado__logo
			width 50vw
		.encabezado__logo--contenedor
			margin 0
		.encabezado__menu
			display none
			width 60%
			height 100vh
			//left -100%
			margin 0
			position fixed
			.encabezado__menu__lista
					display block
					width 100%
			.encabezado__menu__lista--elementos
				height 3em
				width auto
				border none !important
				border-bottom solid 1px white !important
				.menu__lista--items
					height 3em
					padding 0
		.contenedor--login
			display block
	.pie-pagina
		width 100vw
		height auto
		display block
		.pie-pagina__enlaces
			display none
		.pie-pagina__domicilio
			width 100%
			margin 1em 0
		.pie-pagina__redes-sociales
			text-align center
	.contendido
		width 100vw
		min-height auto
/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}