@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?c4j0iz');
	src:url('../fonts/icomoon.eot?#iefixc4j0iz') format('embedded-opentype'),
		url('../fonts/icomoon.woff?c4j0iz') format('woff'),
		url('../fonts/icomoon.ttf?c4j0iz') format('truetype'),
		url('../fonts/icomoon.svg?c4j0iz#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-cloud:before {
	content: "\e04b";
}

.icon-facebook:before {
	content: "\e05d";
}

.icon-twitter:before {
	content: "\e05e";
}

.icon-googleplus:before {
	content: "\e05f";
}

.icon-link3:before {
	content: "\e604";
}

.icon-cog:before {
	content: "\e605";
}

.icon-direction:before {
	content: "\e606";
}

.icon-list:before {
	content: "\e607";
}

.icon-globe:before {
	content: "\e608";
}

.icon-globe2:before {
	content: "\e609";
}

.icon-office:before {
	content: "\e903";
}

.icon-menu:before {
	content: "\e9bd";
}

.icon-google-plus2:before {
	content: "\ea89";
}

.icon-facebook2:before {
	content: "\ea8d";
}

.icon-twitter2:before {
	content: "\ea92";
}

.icon-link:before {
	content: "\f05c";
}

.icon-three-bars:before {
	content: "\f05e";
}

.icon-share:before {
	content: "\e600";
}

.icon-pin:before {
	content: "\e601";
}

.icon-link2:before {
	content: "\e602";
}

.icon-paperclip:before {
	content: "\e603";
}

.icon-facebook3:before {
	content: "\e60a";
}

.icon-google:before {
	content: "\e60b";
}

.icon-twitter-with-circle:before {
	content: "\e60c";
}

.icon-twitter3:before {
	content: "\e60d";
}

